@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

.App {
  text-align: center;
  font-family: 'Rubik', sans-serif !important;
}
.btn:focus{
    box-shadow:none !important;
}
.text-1{
  color:#19CE67 !important;
}
.text-2{
  color:#121521 !important;
}
.border-11{
  border-color:#19CE67 !important;
}
.border-22{
  border-color:#121521 !important;
}
.bg-1{
  background-color:#19CE67 !important;
}
.bg-2{
  background-color:#121521 !important;
}